<h3>Toutes les questions</h3>

<p><%= link_to "Nouvelle question", new_question_path , :class=>"btn btn-info"%></p>

<div class="question-list">

  <%= will_paginate @questions %>
  <%= render :partial => "shared/question_list", :locals => {:questions => @questions} %>
  <%= will_paginate @questions %>

</div>



<div id="stackoverflow"  >
  <div class="navbar-form">
    <div class="form-group">
      <!-- event.keyCode == 13 limite l'action a la touche return -->
      <input id="question_mark"  class="form-control" onKeyPress="{if (event.keyCode==13)search_on_stackoverflow()};"  placeholder="Rechercher sur StackOverflow" type="text"  />
      <input type="button" class="btn btn-default" onClick="search_on_stackoverflow();" value="Ok"/>
    </div>
  </div>

  <div id="question_list">
   <!-- Liste des questions sur StackOverflow -->
 </div>
</div>
