	<h1>Page d'accueil des tags</h1>

<p><%= link_to "Ajouter un nouveau tag", new_tag_path %></p>

<p>Cette page liste les tags créés jusqu'à maintenant</p>

<% @tags.each do |tag|%>
<div class="tag">
<h2> <%=  link_to tag.mot_clef, tag_path(tag) %>  </h2>
<hr />
</div>
<%end %>
