	<h1>Page d'accueil des Tags</h1>

<p><%= link_to "Ajouter un nouveau Tag", new_tag_path %></p>

<p>Cette page liste les tags créées jusqu'à maintenant</p>

<% @tagas.each do |tag|%>
<div class="question">
<h2> <%=  link_to tag.name, tag_path(tag) %></h2>
<hr />
</div>
<%end %>
