<h1>Liste des badges</h1>


<table class="table">

	<TR> 
		<TH> Badge       </TH>
		<TH> Description </TH>
	</TR>
	<!-- sort_by {|badge| badge.metal} -->
	<% @badges.each do |badge| %>

	<TR> 
		<TD>
			<div class = "badge <%= badge.metal %>">
				<%= badge.official_name %> 
			</div>
		</TD>
		<TD>
			<%= badge.description %>
		</TD>
	</TR>

	<% end %>
</table>