<style>
  .h3{font-family: Gill Sans, Verdana;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;}
  h1{
  font: bold 30px "Century Schoolbook", Georgia, Times, serif;
  color: #333;
  line-height: 90%;
  margin: .2em 0 .4em 0;
  letter-spacing: -2px;
  }
</style>


<h1>Page d'accueil des Utilisateurs</h1>

<p class="h3">Cette page liste les utilisateurs</p>

<% @users.each do |user|%>
<div class="name well">
  <h4>~<%= user.login %></h4>
  <%= link_to "Accéder au profil",  user %> 
</div>
<%end %>
