<h1>Page d'accueil des Utilisateurs</h1>

<p class="h3">Cette page liste les utilisateurs</p>

<% @users.each do |user|%>
<div class="name well">
  <h4>~<%= user.login %></h4>
  <%= link_to "Accéder au profil",  user %> 
</div>
<%end %>
