<h3>Tous les utilisateurs</h3>

<%= will_paginate @users %> 


<% @users.each do |user|%>
<div class="name well">
	<td> <h4 style="display:inline"><%= link_to "~"+user.login, user %></h4></td>
	<br/><br/>

</div>
<%end %>


<%= will_paginate @users %> 
