<% if @user.errors.any? %>
<div id="error_explanation">
  <h2>Votre requête n'a pas pu être satisfaite (<%= pluralize(@user.errors.count, "erreur") %>)</h2>
  <p> Veuillez corriger les problèmes suivants :</p>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
