<h3>Tous les tags</h3>

<p ><%= link_to "Nouveau tag", new_tag_path , :class=>"btn btn-info"%></p>



<% @tagsearch.each do |tag|%>

<div class="tag-list">
  <u class="post-tag"><%=link_to tag.name, tag_path(tag) %></u> –&nbsp;<%= pluralize tag.questions.size, "question"%>
</div>

<%end %>
