<div class="tag">
 
<h1> <%=  link_to @tag.name, tag_path(@tag) %> </h1>
<hr/>
<b>Description :</b>
	<p> <%= @tag.description().html_safe %>  </p>
</br><hr/>  
<b>Questions correspondant à ce tag :</b>
	
	</br></br>
	<% @questions.each do |question| %>
	<p><%= link_to question.title, question_path(question) %> </p>
	<% end %>
	
	<hr />
	<%= link_to "Supprimer ce tag", tag_path(@tag), :confirm => "Êtes vous sûr(e) de vouloir supprimer ce tag?", :method => :delete, class: "btn btn-danger"%>

</div>
