<h1>Ajouter un nouveau post</h1>


<div class="form-group">

	<%= form_for @post do |f| %>
	<p>
		Titre : 
		<%= f.text_field :title, class:"form-control" %>
	</p>
	<p>
		Contenu : 
		<%= f.text_area :content, class:"form-control", rows:"3" %>
	</p>
	<p>
		<%= f.submit "Envoyer !", class:"btn btn-default" %> <br/>
	</p>
	<% end %>

</div>