/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require bootstrap
 *= require jquery.ui.all
 *= require_tree .
 *= require_self
 */



 .content
 {
   margin-left: 12%;
   margin-right: 12%;
 }
 .alert
 {
   margin-left:1%;
   margin-right:1%;
 }
 .post a
 {
   /*color: rgb(51, 51, 51);*/
 }

 @font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/glyphicons-halflings-regular.eot');
  src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
  url('/assets/glyphicons-halflings-regular.woff') format('woff'), 
  url('/assets/glyphicons-halflings-regular.ttf') format('truetype'), 
  url('/assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}


#search
{
  width: 200px;
}

.form-control
{
 width:500px; 
}

.radio-toolbar input[type="radio"] {
  display:none;
}

.radio-toolbar label {
  display:inline-block;
  background-color:#ddd;
  padding:4px 11px;
  font-family:Arial;
  font-size:15px;
}

.radio-toolbar input[type="radio"]:checked + label {
  background-color:#bbb;
}

.bronze 
{
  margin-bottom: 5px;
  margin-right: 10px;
  border-radius: 3px;
  padding: 0px 4px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  color: #FFF;
  background-image: linear-gradient(to bottom, #A27C4E 0%, #5D472D 100%);
  background-repeat: repeat-x;
  box-shadow: 1px 1px 2px #000;
  line-height: 20px;
  display: inline-block;
}
.silver 
{
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 3px;
  padding: 0px 4px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  color: #FFF;
  background-image: linear-gradient(to bottom, #CCD6D1 0%, #93A99E 100%);
  background-repeat: repeat-x;
  box-shadow: 1px 1px 2px #000;
  line-height: 20px;
  display: inline-block;
}

.gold 
{
  margin-bottom: 5px;
  margin-right: 10px;
  border-radius: 3px;
  padding: 0px 4px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  color: #FFF;
  background-image: linear-gradient(to bottom, #E7C244 0%, #AF8C16 100%);
  background-repeat: repeat-x;
  box-shadow: 1px 1px 2px #000;
  line-height: 20px;
  display: inline-block;
}
}