  .style8{
    
      background-repeat:repeat;
      background-color:#FFF;
       left:30%;
       top:30%;
       width:600px;
       height:400px;
       display:none;
     margin-right: auto;
margin-left: auto;
position:absolute;
      z-index:19;
border-radius:5px;
      }


   .black{
  background-color:black;
  width: 150%;
  height: 100%;
  position: fixed;
  top:0%;
  left:-100px;
  right:-100px; 
  opacity:0;
  z-index:12;
  
}
